[submodule "backend"]
	path = backend
	url = https://github.com/nanmengyu/task-manager-web-development-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/nanmengyu/task-manager-web-development-frontend.git
